<nav id="header" class="bg-gray-500" x-data="{showMenu: false}">
    <div class="px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-12">
            <a href="/" class="text-yellow-200 italic text-xl font-bold">Cockaigne City - Admin Center</a>
            <div class="hidden md:flex gap-1 items-center">
                {{ if .isAuthenticated }}
                <a class="menu-item" href="/vouchers">Gutscheine</a>
                // <a class="menu-item" href="/create-voucher">Gutschein erstellen</a>
                // <a class="menu-item" href="/api/logout">Logout</a>
                {{ end }}
            </div>
            <div class="-mr-2 flex md:hidden">
                <div class="text-yellow-200 cursor-pointer h-6 w-6" x-on:click="showMenu = !showMenu">
                    <span class="sr-only">Open main menu</span>
                    <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" x-show="showMenu">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M6 18L18 6M6 6l12 12">
                        </path>
                    </svg>
                    <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" x-show="!showMenu">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                              d="M4 6h16M4 12h16M4 18h16">
                        </path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile menu -->
    <div class="md:hidden" x-show="showMenu">
        <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
            {{ if .isAuthenticated }}
            <a class="block menu-item" href="/vouchers">Gutscheine</a>
            <a class="block menu-item" href="/create-voucher">Gutschein erstellen</a>
            <a class="block menu-item" href="/api/logout">Logout</a>
            {{ end }}
        </div>
    </div>
</nav>