<nav id="header" class="bg-gray-500" x-data="{showMenu: false}">
  <div class="px-6">
    <div class="flex h-12 items-center justify-between">
      <a href="/" class="text-xl font-bold italic text-yellow-200">Cockaigne City - Admin Center</a>
      <div class="hidden items-center gap-1 md:flex">
        {{ if .isAuthenticated }}
        <a class="menu-item" href="/vouchers">Gutscheine</a>
        // <a class="menu-item" href="/create-voucher">Gutschein erstellen</a> //
        <a class="menu-item" href="/api/logout">Logout</a>
        {{ end }}
      </div>
      <div class="-mr-2 flex md:hidden">
        <div class="h-6 w-6 cursor-pointer text-yellow-200" x-on:click="showMenu = !showMenu">
          <span class="sr-only">Open main menu</span>
          <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" x-show="showMenu">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
          <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" x-show="!showMenu">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div class="absolute right-1 top-10 select-none rounded-xl bg-gray-600 md:hidden" x-show="showMenu">
    <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
      {{ if .isAuthenticated }}
      <a class="menu-item block" href="/vouchers">Gutscheine</a>
      <a class="menu-item block" href="/create-voucher">Gutschein erstellen</a>
      <a class="menu-item block" href="/api/logout">Logout</a>
      {{ end }}
    </div>
  </div>
</nav>
